@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Laboratorio3.Models.SongsModel>;

@{
  ViewData["Title"] = "Songs";
}

<h1>@ViewBag.MainTitle</h1><br><br><br>

<style>
  #Tipo {
    display:inline;
    position:absolute;
  }
</style>

<style>
  #Atributo {
    text-align:center;
  }
</style>

<body>
  <div>
    <div>
      <p id = "Tipo"><b>Name:</b></p> 
      <p id = "Atributo">@Model[0].Name</p>
      <hr/>
    </div>
    <br><br>
    <div>
      <p id = "Tipo"><b>Author:</b></p> 
      <p id = "Atributo">@Model[0].Author</p>
      <hr/>
    </div>
    <br><br>
    <div>
      <p id = "Tipo"><b>Genre:</b></p> 
      <p id = "Atributo">@Model[0].Genre</p>
      <hr/>
    </div>
    <br><br>
    <div>
      <p id = "Tipo"><b>Album:</b></p> 
      <p id = "Atributo">@Model[0].Album</p>
      <hr/>
    </div>
    <br><br>
    <div>
      <p id = "Tipo"><b>Released Date:</b></p> 
      <p id = "Atributo">@Model[0].ReleasedDate</p>
      <hr/>
    </div>
    <br><br>
    <div>
      <p id = "Tipo"><b>Duration:</b></p> 
      <p id = "Atributo">@Model[0].Duration</p>
    </div>
  </div>
</body>


