@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Laboratorio3.Models.SongsModel>;

@{
  ViewData["Title"] = "Songs";
}

<h1>@ViewBag.MainTitle</h1>

<div>
  <table class = "table">
    <tbody>

      <tr>
        <td><strong>Name</strong></td>
      @foreach (var item in Model)
      {
        <td>@item.Name</td>
      }
      </tr>
      <tr>
        <td><strong>Author</strong></td>
      @foreach (var item in Model)
      {
        <td>@item.Author</td>
      }
      </tr>
      <tr>
        <td><strong>Genre</strong></td>
      @foreach (var item in Model)
      { 
        <td>@item.Genre</td>
      }
      </tr>
      <tr>
        <td><strong>Album</strong></td>
      @foreach (var item in Model)
      {      
        <td>@item.Album</td>
      }
      </tr>
      <tr>
        <td><strong>ReleasedDate</strong></td>
      @foreach (var item in Model)
      {
        <td>@item.ReleasedDate</td>
      }
      </tr>
      <tr>
        <td><strong>Duration</strong></td>
      @foreach (var item in Model)
      {
        <td>@item.Duration</td>
      }
      </tr>

    </tbody>
  </table>
</div>

